<div class="flex justify-center flex-col items-center  gap-4 px-32">
    <h1 class="text-5xl grow"><span class="text-neutral-600 dark:text-neutral-300">Mamadou </span> <span class="font-bold">BAH</span></h1>
    <h3 class="text-2xl text-neutral-600 dark:text-neutral-300 place-content-center">{{'intro.subtitle' | translate}}</h3>
    <p>{{'intro.firstParagraph' | translate}}</p>
    <br>
    <p>{{'intro.secondParagraph' | translate}}</p>
    <br>
    <p>{{'intro.thirdParagraph' | translate}}</p>
</div>
