<div class="bg-gray-50 dark:bg-slate-700 rounded-xl text-slate-900 dark:text-neutral-300">
    <table mat-table [dataSource]="dataSource">
        <!-- Skill Column -->
        <ng-container matColumnDef="skill">
          <th mat-header-cell *matHeaderCellDef><span class="font-blod uppercase"><b>{{ 'skills-table.skill' | translate }}</b></span></th>
          <td mat-cell *matCellDef="let element"> {{element.skill}} </td>
        </ng-container>
      
        <!-- Theory weight Column -->
        <ng-container matColumnDef="theoryWeight">
          <th mat-header-cell *matHeaderCellDef><span class="font-blod uppercase"><b>{{ 'skills-table.theoryWeight' | translate }}</b> </span></th>
          <td mat-cell *matCellDef="let element"><ui-progress [value]="element.theoryWeight" /></td>
        </ng-container>
      
        <!-- Practical weight Column -->
        <ng-container matColumnDef="practicalWeight">
          <th mat-header-cell *matHeaderCellDef><span class="font-blod uppercase"><b>{{ 'skills-table.practicalWeight' | translate }}</b> </span> </th>
          <td mat-cell *matCellDef="let element"><ui-progress [value]="element.practicalWeight" /></td>
        </ng-container>
      
        <!-- Used in this app Column -->
        <ng-container matColumnDef="usedInThisApp">
          <th mat-header-cell *matHeaderCellDef> <span class="font-blod uppercase"><b>{{ 'skills-table.usedInThisApp' | translate }}</b> </span> </th>
          <td mat-cell *matCellDef="let element"> {{element.usedInThisApp }} </td>
        </ng-container>
      
        <!-- Challenges Column -->
        <ng-container matColumnDef="challenges">
          <th mat-header-cell *matHeaderCellDef> <span class="font-blod uppercase"><b>{{ 'skills-table.challenges' | translate }}</b> </span> </th>
          <td mat-cell *matCellDef="let element"> {{element.challenges?.join(', ')}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>           
</div>

