<div class="bg-white dark:bg-slate-900">
  <div class="container mx-auto flex justify-center overflow-hidden bg-gray-50 dark:bg-slate-700">
    <main class="bg-emerald-50 dark:bg-emerald-950 flex m-8 w-11/12 h-screen rounded-lg text-slate-900 dark:text-slate-100 mt-5 text-base font-medium tracking-tight">
      <div class="size-full flex justify-between">
        <div class="h-fit w-full flex flex-row justify-between">
          <section class="flex items-center">
            <mat-button-toggle-group [(ngModel)]="fontStyle" aria-label="Font Style" (valueChange)="computeMode()">
              <mat-button-toggle value="bright">Mode clair</mat-button-toggle>
              <mat-button-toggle value="dark">Mode sombre</mat-button-toggle>
            </mat-button-toggle-group>
            <button mat-fab class="ml-3" (click)="navigateToGithubPage()">
              <mat-icon svgIcon="github" aria-hidden="false" aria-label="Button to the github page" class="mt-2">
              </mat-icon>
            </button>
          </section>
          <section>
            <mat-button-toggle-group [(ngModel)]="language" aria-label="Language" (valueChange)="switchLanguage()">
              <mat-button-toggle value="english">EN</mat-button-toggle>
              <mat-button-toggle value="french">FR</mat-button-toggle>
              <mat-button-toggle value="dutch">NL</mat-button-toggle>
            </mat-button-toggle-group>
          </section>
        </div>
      </div>
    </main>
  </div>
</div>

<router-outlet />
