<app-header />
<div class="bg-white dark:bg-slate-900 pt-14">
  <div class="container size-fit mx-auto flex justify-center flex-col bg-gray-50 dark:bg-slate-700">
    <main class="bg-emerald-50 dark:bg-emerald-950 flex m-16 h-auto rounded-lg text-slate-900 dark:text-neutral-300 mt-5 text-base font-medium tracking-tight">
      <div class="flex flex-col gap-10">
        <app-main-intro />
        <app-content-actions />
        <div class="size-full min-h-lvh px-2 xl:px-24 mb-10" [@routeAnimations]="prepareRoute(outlet)">
          <router-outlet #outlet="outlet"/>
        </div>
      </div>
    </main>
    <app-footer />
  </div>
</div>
