<div class=" bg-gray-50 dark:bg-slate-700 rounded-xl text-slate-900 dark:text-neutral-300 py-2">
    <table mat-table [dataSource]="languages">
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef><span class="font-bold uppercase text-xl"><b>{{ 'languages.item-title' | translate }}</b></span></th>
          <td mat-cell *matCellDef="let element"><span class="font-semibold  font-mono">{{element.item | translate}}</span> </td>
        </ng-container>
      
        <!-- Theory weight Column -->
        <ng-container matColumnDef="verbalWeight">
          <th mat-header-cell *matHeaderCellDef><span class="font-bold uppercase text-xl"><b>{{ 'languages.verbalWeight-title' | translate }}</b> </span></th>
          <td mat-cell *matCellDef="let element"><ui-progress [value]="element.verbalWeight" /></td>
        </ng-container>
      
        <!-- Practical weight Column -->
        <ng-container matColumnDef="writtenWeight">
          <th mat-header-cell *matHeaderCellDef><span class="font-bold uppercase text-xl"><b>{{ 'languages.writtenWeight-title' | translate }}</b> </span> </th>
          <td mat-cell *matCellDef="let element"><ui-progress [value]="element.writtenWeight" /></td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> 
</div>